# Archivo .gitignore para el proyecto

# Entornos virtuales de Python
/venv
/env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/

# Dependencias de Node.js
frontend/node_modules/
frontend/dist/
frontend/coverage/
frontend/.env
frontend/.env.*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Archivos de entorno del backend
backend/.env

# Archivos de Docker
docker-compose.override.yml

# Archivos de sistema operativo
.DS_Store
Thumbs.db